.root {
  @apply absolute top-0 left-0 z-20 pr-16 transition-colors duration-500 ease-in-out;
}

.root .name {
  @apply w-full max-w-full pt-0 leading-extra-loose;
  font-size: 1.8rem;
  letter-spacing: 0.4px;
  line-height: 2em;
}

.root .name span {
  @apply px-6 py-4 font-semibold text-white bg-pink;
  min-height: 70px;
  font-size: inherit;
  letter-spacing: inherit;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.root .name span.fontsizing {
  display: flex;
  padding-top: 1.5rem;
}

.root .price {
  @apply inline-block px-6 pt-2 pb-2 text-lg font-bold tracking-wide text-white bg-violet;
}
