.control {
  @apply absolute z-30 flex flex-row border shadow-xl select-none bg-pink bottom-5 border-accent-0 text-accent-0;
  height: 48px;
  display: none;
}

.leftControl,
.rightControl {
  @apply px-4 cursor-pointer;
  transition: background-color 0.2s ease;
}

.leftControl:hover,
.rightControl:hover {
  background-color: #ccc;
}

.leftControl:focus,
.rightControl:focus {
  @apply outline-none;
}

.rightControl {
  @apply border-l border-accent-0;
}

.leftControl {
  margin-right: -1px;
}
