.root {
  @apply relative grid items-start grid-cols-1 gap-1 overflow-x-hidden;
  min-height: auto;
}

.main {
  @apply box-border relative flex flex-col col-span-1 px-0 pb-0;
  min-height: 500px;
}

.sidebar {
  @apply flex flex-col w-full h-full col-span-1 px-6 py-6 mx-auto max-w-8xl;
}

.sliderContainer {
  @apply flex items-center justify-center overflow-x-hidden;
}

.imageContainer > div,
.imageContainer > div > div {
  @apply h-full;
}

.sliderContainer .img {
  @apply object-cover w-full h-auto max-h-full;
}

.button {
  width: 100%;
}

.wishlistButton {
  @apply absolute top-0 right-0 z-30;
}

.relatedProductsGrid {
  @apply grid grid-cols-2 gap-2 py-2 md:grid-cols-4 md:gap-7;
}

@screen lg {
  .root {
    @apply grid-cols-12;
  }

  .main {
    @apply col-span-6 mx-0;
  }

  .sidebar {
    @apply col-span-6 py-6;
  }

  .imageContainer {
    max-height: 600px;
  }
}
