.root {
  @apply relative w-full h-full select-none;
  overflow: hidden;
  background-color: #f3ede9;
}

.slider {
  @apply relative h-full transition-opacity duration-150;
  opacity: 0;
}

.slider.show {
  opacity: 1;
}

.thumb {
  @apply inline-block overflow-hidden transition-colors transition-transform duration-75 ease-linear cursor-pointer;
  width: 75px;
  scale: 1;
}

.thumb.selected {
  border-bottom: 4px solid red;
  scale: 1.7;
}

.thumb img {
  height: 85% !important;
}

.album {
  box-sizing: content-box;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  height: 75px;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.album::-webkit-scrollbar {
  display: none;
}

@screen md {
  .thumb:hover {
    transform: scale(1.02);
  }

  .thumb.selected {
  }

  .album {
    height: 182px;
  }
  .thumb {
    width: 235px;
  }
}
