.root {
  @apply box-border relative inline-block w-full max-h-full overflow-hidden transition-transform ease-linear bg-center bg-no-repeat bg-cover cursor-pointer bg-accent-1;
  height: 100% !important;
}

.root:hover {
  & .productImage {
    transform: scale(1.1);
  }

  & .header .name span,
  & .header .price,
  & .wishlistButton {
    @apply bg-pink text-secondary;
  }
}

.header {
  @apply absolute top-0 left-0 z-20 pr-16 transition-colors duration-500 ease-in-out;
}

.header .name {
  @apply w-full max-w-full pt-0 transition-colors duration-500 ease-in-out leading-extra-loose;
  font-size: 2rem;
  letter-spacing: 0.4px;
}

.header .name span {
  @apply px-6 py-4 font-bold transition-colors duration-500 ease-in-out bg-primary text-primary;
  font-size: inherit;
  letter-spacing: inherit;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.header .price {
  @apply inline-block px-6 pt-2 pb-4 text-sm font-semibold tracking-wide transition-colors duration-500 ease-in-out bg-primary text-accent-9;
}

.imageContainer {
  @apply flex items-center justify-center overflow-hidden;
}

.imageContainer > div {
  min-width: 100%;
}

.imageContainer .productImage {
  @apply object-cover transition-transform duration-500 transform;
}

.root .wishlistButton {
  @apply absolute top-0 right-0 z-30;
}

/* Variant Simple */
.simple .header .name {
  @apply pt-2 -mt-1 text-lg leading-10;
}

.simple .header .price {
  @apply text-sm;
}

/* Variant Slim */
.slim {
  @apply box-border relative overflow-hidden bg-transparent;
}

.slim .header {
  @apply absolute inset-0 z-20 flex items-center justify-end mr-8;
}

.slim span {
  @apply inline-block p-3 text-xl font-bold break-words bg-accent-9 text-accent-0;
}

.root:global(.secondary) .header span {
  @apply bg-accent-0 text-accent-9;
}
